# .env
PORT=5172
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/myblog


JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your-user
SMTP_PASS=your-pass
SMTP_FROM=no-reply@myapp.com